binaries/data/mods/official/art/actors/object.dtd

<!ELEMENT Object
	(Name,ModelName,TextureName,Animations?,Props?)>

<!ELEMENT Name (#PCDATA)>
<!ELEMENT ModelName (#PCDATA)>
<!ELEMENT TextureName (#PCDATA)>

<!ELEMENT Animations (Animation)*>
<!ELEMENT Animation (#PCDATA)>
<!ATTLIST Animation
	name CDATA #REQUIRED
	file CDATA #REQUIRED
	speed CDATA "100">

<!ELEMENT Props (Prop)*>
<!ELEMENT Prop (#PCDATA)>
<!ATTLIST Prop
	attachpoint CDATA #REQUIRED
	model CDATA #REQUIRED>

