binaries/data/mods/official/maps/scenario.dtd

<!ELEMENT Scenario (Entities)>

	<!ELEMENT Entities (Entity*)>

		<!ELEMENT Entity (Template,Position,Orientation)>

			<!ELEMENT Template (#PCDATA)>

			<!ELEMENT Position EMPTY>
			<!ATTLIST Position
				x CDATA #REQUIRED
				y CDATA #REQUIRED
				z CDATA #REQUIRED
			>

			<!ELEMENT Orientation EMPTY>
			<!ATTLIST Orientation
				angle CDATA #REQUIRED
			>
